---
import BaseLayout from '$layouts/base.astro'
import Maze from "$/pages/funbox/mouse/maze.astro";

export const prerender = false;
---

<BaseLayout title="Get him the cheese.">
    <main class="flex flex-col gap-4 p-4">
        <p>
            Poor little fella just wants the cheese... but he's trapped in a multi-player, real-time cheese maze synchronizes with
            everyone who is currently viewing the website. 🥺
        </p>

        <aside class="border-l-4 pl-2">
            How to play the game:
            <ul class="list-disc list-outside pl-4">
                <li><b>Use the arrows at the bottom of the page</b> (⬆️⬇️⬅️➡️) to move the mouse (🐁).</li>
                <li>Get the mouse to the Cheese (🧀) to win.</li>
                <li>Get keys (🗝️) to unlock doors (🚪).</li>
                <li>Don't run into walls (⬛)</li>
            </ul>
        </aside>


        <Maze />

        <div class="flex flex-col w-fit items-center justify-stretch bg-slate-200 gap-3 mx-auto p-5 font-mono">
            <nav class="grid grid-cols-3 grid-rows-3 gap-1 *:cursor-pointer">
                <button class="row-start-1 col-start-2 border-4 border-red-500 aspect-square"  hx-post="/funbox/mouse/maze" hx-swap="none" hx-include="this">
                    ⬆️
                    <input type="hidden" name="direction" value="up">
                </button>
                <button class="row-start-2 col-start-3 border-4 border-red-500 aspect-square"  hx-post="/funbox/mouse/maze" hx-swap="none" hx-include="this">
                    ➡️
                    <input type="hidden" name="direction" value="right">
                </button>
                <button class="row-start-3 col-start-2 border-4 border-red-500 aspect-square"  hx-post="/funbox/mouse/maze" hx-swap="none" hx-include="this">
                    ⬇️
                    <input type="hidden" name="direction" value="down">
                </button>
                <button class="row-start-2 col-start-1 border-4 border-red-500 aspect-square" hx-post="/funbox/mouse/maze" hx-swap="none" hx-include="this">
                    ⬅️
                    <input type="hidden" name="direction" value="left">
                </button>
            </nav>
            <button class="p-2 border-4 border-red-500 bg-red-500 text-white font-black cursor-pointer" hx-post="/funbox/mouse/regenerate" hx-swap="none">Regenerate <span class="text-nowrap">Maze 🔄</span>️</button>
            <h6 class="font-bold text-center">Mouse <br>Mind-Control  <br>Apparatus 6000 🤖</h6>
        </div>
        <script>
            import 'htmx.org';
            import 'htmx-ext-sse';
        </script>
    </main>

</BaseLayout>