---
import Base from "$layouts/base.astro";
import { currentMaze, type Direction, mouseMove } from "$/pages/funbox/mouse/logic.ts";
import type { APIRoute } from "astro";

export const prerender = false;
export const partial = true;

if (Astro.request.method === "POST") {
  interface Body {
    direction: Direction;
  }

  const body: Body = await Astro.request.formData().then((x) => ({ direction: String(x.get("direction")) }) as Body);

  mouseMove(body.direction);

  return new Response(body.direction);
}
---

<section
  class="flex flex-col gap-4"
  id="maze-data"
  hx-ext="sse"
  sse-connect="/funbox/mouse/logic"
  hx-get="/funbox/mouse/maze"
  hx-trigger="sse:maze_update"
  hx-target="this"
  hx-swap="outerHTML">
  <div
    class="mx-auto grid aspect-square h-full w-full max-w-md grid-cols-9 grid-rows-9 text-xl font-black *:pointer-events-none *:cursor-default *:border-4 *:border-slate-500">
    {
      currentMaze.map((row) =>
        row.map((spot) => (
          <div class="flex items-center justify-center">
            <span class="translate-y-0.5">{spot}</span>
          </div>
        )),
      )
    }
  </div>
</section>
