---
import DownloadPrompt from '$components/funbox/autoconnections/download-prompt.svelte'
import Base from "$layouts/base.astro";
---


<Base title="Autoconnections">
  <h1 class="font-bold text-center p-4">Autoconnections</h1>
  <DownloadPrompt client:only />
</Base>