---
import BaseLayout from '$layouts/base.astro'
---

<BaseLayout title="The Bloog">
    <main class="p-6 flex flex-col gap-4">
        <p>
            Hello. Welcome to my Bloog. I hope reading through these brings you at least a modicum of entertainment.
        </p>

        <aside>
            🛑 Very work in progress at the moment!
        </aside>
    </main>
</BaseLayout>