---
import BaseLayout from '$layouts/base.astro'
---

<BaseLayout title="The Bloog">
    <main class="p-6 flex flex-col gap-4">
        Hello. Welcome to my Bloog. I hope reading through these brings you at least a modicum of entratinment.
    </main>
</BaseLayout>