---
import BaseLayout from "$layouts/base.astro";
---

<BaseLayout title="The Bloog">
  <main class="flex flex-col gap-4 p-6">
    <p>Hello. Welcome to my Bloog. I hope reading through these brings you at least a modicum of entertainment.</p>

    <aside>🛑 Very work in progress at the moment!</aside>
  </main>
</BaseLayout>
