---
import BaseLayout from "$layouts/base.astro";
---

<BaseLayout title="The Bloog">
  <main class="flex flex-col gap-4 p-6">
    <p>
      Hello. Welcome to my Bloog. I hope reading through these brings you at least a modicum of entertainment. Peruse
      through the available <b>Bloog Poosts&TRADE;</b> at your pleasure.
    </p>

    <aside>🛑 Very work in progress at the moment!</aside>

    <ul class="list-disc text-yellow-700">
      <li><a href="/bloog/poosts/history">History of Moursy.org</a></li>
    </ul>
  </main>
</BaseLayout>
