@import "tailwindcss";

@theme inline {
  --default-font-family: var(--font-serif);
  --font-serif: var(--ancizar-serif), Georgia, Cambria, "Times New Roman", Times, serif;
  --font-pixel: var(--tiny-five), monospace;
}

.tile-pattern {
  /*noinspection CssUnknownTarget*/
  background-image: url("/floor-tile.svg");
  background-size: 78px 78px;
  background-position: 67% 61%;
}

li::marker {
  @apply mr-4 font-bold;
}

[type="a"] {
  @apply list-[lower-alpha];
}

h1 {
  @apply text-3xl;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply text-xl;
}

h5 {
  @apply text-lg;
}

h6 {
  @apply text-base;
}

a {
  @apply inline text-yellow-700;
}

hr {
  @apply my-5 w-full border border-yellow-700;
}
