---
import Game from "$components/funbox/wordle-solver/game.svelte";
import Base from "$layouts/base.astro";
---

<Base title="Wordle Solver">
  <header class="relative">
    <aside
      class="absolute top-4 right-4 m-4 flex aspect-square h-36 max-h-36 w-36 max-w-36 rotate-12 items-center justify-center rounded-full bg-amber-400 p-3.5 text-center text-lg font-black opacity-25 select-none md:opacity-100">
      <span class="drop-shadow-[2px_2px] drop-shadow-amber-600/30">
        <p class="animate-[spin_5s_linear_infinite]" id="flavor-text">Turn on JavaScript!</p>
      </span>
    </aside>
    <h1 class="w-full p-8 text-center text-2xl font-black italic md:text-5xl">
      <p>The</p>
      <p class="drop-shadow-[2px_2px] drop-shadow-amber-800/50">
        <span class="text-amber-800">Wordle</span>
        <span>Solver</span>
      </p>
    </h1>
  </header>
  <Game client:load />
</Base>

<script>
  const flavorTexts = [
    "More fun than solving it yourself!",
    "New and improved formula!",
    "Also try <a href='/funbox/autoconnections'>Auto&shy;connections!</a>",
    "Now with 50% more words!",
    "Better than the others!",
    "Mr. Moursy Approved!",
    "Reco&shy;mmended by 9/10 dentists!",
    "The smooth taste of NEO!",
  ];

  const textIdx = Math.floor(Math.random() * flavorTexts.length);

  function setFlavorText() {
    const flavor = document.getElementById("flavor-text");
    if (flavor) flavor.innerHTML = flavorTexts[textIdx];
  }

  setFlavorText();

  window.addEventListener("DOMContentLoaded", setFlavorText);
</script>
