---
import Game from "$components/funbox/wordle-solver/game.svelte";
import Base from "$layouts/base.astro";
---

<Base title="Wordle Solver">
  <h1 class="p-8 text-center text-2xl font-black italic md:text-5xl">
    <ruby>
      <rb class="drop-shadow-[2px_2px] drop-shadow-amber-600/30">
        <span class="text-amber-800">Wordle</span> Solver
      </rb>
      <rt class="text-lg md:text-2xl">The</rt>
    </ruby>
  </h1>
  <Game client:only />
</Base>
