---
import BaseLayout from "$layouts/base.astro";
---

<BaseLayout>
  <main class="flex flex-col gap-4 p-6">
    <blockquote class="max-w-md rotate-6 py-2 text-slate-600 italic" id="im-mahmoud-moursy">
      <h1 class="fancy bg-slate-600 p-4 text-yellow-50">
        <span class="text-base">"Great Minds Think Alike...</span><br />... But Fools Seldom Differ"
      </h1>

      <p class="-rotate-4 border-2 border-slate-600 bg-yellow-50 p-2">
        Hello! I'm Mahmoud Moursy. They say that fools <b>seldom differ</b>, but I'm nothing like the other fools, I
        promise!
      </p>
    </blockquote>

    <p>
      Dear Reader, you have had the fortune of finding (or being invited to) my website. There is not much treasure
      here, other than my <a href="/bloog" class="fancy">bloog</a> (with two o's).
    </p>

    <section class="-rotate-1 border-2 border-yellow-950">
      <div class="flex rotate-1 flex-wrap justify-stretch gap-x-16 px-4 py-4 text-center text-3xl font-bold italic">
        <div
          class="z-20 translate-y-0 scale-125 scale-x-200 -skew-2 bg-yellow-200 px-1 transition-all hover:translate-y-2 hover:skew-0">
          Who
        </div>
        <div
          class="z-30 translate-y-2 scale-110 scale-x-200 skew-3 bg-yellow-300 px-3 transition-all hover:translate-y-1 hover:skew-0">
          am
        </div>
        <div
          class="z-10 translate-y-3 scale-125 scale-x-200 -skew-6 bg-yellow-400 px-4 transition-all hover:translate-y-0 hover:skew-0">
          I?
        </div>
      </div>

      <p class="p-2">
        Well, if you <a href="#im-mahmoud-moursy">read the quote above</a>, you'll know that I'm Mahmoud Moursy, the
        greatest fool to ever live. I'm the best programmer that I know in real life (and I pride myself on it!), a <a
          href="https://youtu.be/SZuJRu8sww0">
          TEDx Speaker
        </a>, and *technically* a journalist once-upon-a-time.
      </p>
    </section>

    <section class="mx-auto my-5 max-w-xl skew-x-1 border-2 border-yellow-950 p-2 sm:-rotate-2">
      <h3 class="m-2 w-fit -rotate-4 skew-6 bg-slate-600 p-2 font-bold text-yellow-100 italic">
        Some Boring
        <span class="block w-fit rotate-2 -skew-3 bg-yellow-950 p-5 text-6xl text-yellow-100">History</span>
      </h3>

      <div class="floral-pattern mt-10 -skew-x-1 border-2 border-slate-600 p-8 italic sm:rotate-4">
        <p class="border-8 border-slate-600 bg-yellow-100 p-4 sm:-rotate-2">
          I originally wrote this blog as 2025's new years' resolution. Tragically, the Original Moursy.org Bloog&TRADE;
          went down some time later as I left it to sink into disrepair. It was then rekindled thanks to the US-Iran
          conflict, which had left me (as of March 13th 2026) trapped inside as missiles flew overhead my country of
          residence, the United Arab Emirates. <a href="/bloog/poosts/history"
            >(... more on the history of Moursy.org)</a
          >
        </p>
      </div>
    </section>

    <a href="/bloog" class="mx-auto">
      <section
        class="fancy w-fit -skew-x-2 border-4 border-yellow-700 bg-yellow-700 p-5 text-lg text-amber-100 sm:scale-125">
        <h3 class="text-5xl">
          Read my Blo<sup>o</sup>g
        </h3>
        <aside>I poured my heart and soul into it!</aside>
      </section>
    </a>

    <h3 class="font-bold italic">Thanks for Staying :)</h3>

    <footer>
      contact: <a href="mailto:mahmoud@moursy.org">mahmoud@moursy.org</a>
      <br />
      github: <a href="https://github.com/mahmoud-moursy" target="_blank">mahmoud-moursy</a>
      <br />
      copyright: some rights reserved, i guess? &copy;
    </footer>
  </main>
</BaseLayout>
