---
import BaseLayout from "$layouts/base.astro";
---

<BaseLayout>
  <main class="flex flex-col gap-4 p-6">
    <blockquote class="w-md text-slate-600 italic" id="im-mahmoud-moursy">
      <ruby class="text-4xl font-bold">
        ... But Fools Seldom Differ."
        <rt class="text-left font-normal">"Great Minds Think Alike</rt>
      </ruby>

      <br />

      <p class="border-l-2 border-slate-600 p-2">
        Hello! I'm Mahmoud Moursy. They say that fools <b>seldom differ</b>, but I'm nothing like the other fools, I
        promise!
      </p>
    </blockquote>

    <p>
      Dear Reader, you have had the fortune of finding (or being invited to) my website. There is not much treasure
      here, other than my <a href="/bloog">bloog</a> (with two o's).
    </p>

    <h3 class="font-bold italic">Who am I?</h3>

    <p>
      Well, if you <a href="#im-mahmoud-moursy">read the quote above</a>, you'll know that I'm Mahmoud Moursy. I'm the
      best programmer that I know in real life (and I pride myself on it!), a <a href="https://youtu.be/SZuJRu8sww0">
        TEDx Speaker
      </a>, and *technically* a journalist once-upon-a-time.
    </p>

    <h3 class="font-bold italic">Some Boring History</h3>

    <p>
      I originally wrote this blog as 2025's new years' resolution. Tragically, the Original Moursy.org Bloog&TRADE;
      went down some time later as I left it to sink into disrepair. It was then rekindled thanks to the US-Iran
      conflict, which had left me (as of March 13th 2026) trapped inside as missiles flew overhead my country of
      residence, the United Arab Emirates. <a href="/bloog/poosts/history">(... more on the history of Moursy.org)</a>
    </p>

    <h3 class="font-bold italic">Thanks for Reading :)</h3>

    <footer>
      contact: <a href="mailto:mahmoud@moursy.org">mahmoud@moursy.org</a>
      <br />
      github: <a href="https://github.com/mahmoud-moursy" target="_blank">mahmoud-moursy</a>
      <br />
      copyright: some rights reserved, i guess? &copy;
    </footer>
  </main>
</BaseLayout>
