---
import Blog from "$layouts/blog.astro";
---

<Blog title="The history of Moursy.org" date-created="2026-03-12">
  <p>
    Hello again, world! I thought I should document the history of this website, considering that:
    <ol type="a" class="ml-4">
      <li>nobody remembers it except for myself and one (1 (☝️)) other reader.</li>
      <li>it is important to me and this is <b>MY</b> bloog, not yours!</li>
    </ol>
  </p>

  <h3 class="fancy">Why did I start a blo<sup>o</sup>g?</h3>

  <p>
    It was my New Years' Resolution for 2025. I'd just delved into the wonderful world of <a
      href="#whats-rss"
      id="back-rss">
      RSS feeds
    </a>, and started saving as many small, independent blogs as possible. I felt <b><em>truly inspired &star;</em></b> reading
    the written works of others, a few standouts being Algernon's <a href="https://chronicles.mad-scientist.club/">
      Chronicae Novis Rebus
    </a> and Lyra's <a href="https://lyra.horse">Epic Blog</a>.
  </p>

  <p>
    In a world of <a href="https://youtu.be/SZuJRu8sww0">rapidly deteriorating social platforms</a>, the humble RSS feed
    stands as one of the last bastions to actually read from the creators that I love without any of the hindrances of
    the Big Corporate Algorithms which seek to maximize engagement instead of enjoyment.
  </p>

  <h3 class="fancy">Why did I restart my blo<sup>o</sup>g?</h3>

  <p>
    I was not happy with the design of my Old Bloog. With this Bloog, I tried for a "zendustrial" aesthetic inspired by
    the likes of the <a href="https://marginalia.nu">marginalia.nu</a> and the
    <a href="https://usgraphics.com">U.S. Graphics Company</a> websites. Still, I am not happy with the design of this Bloog
    either and I might tear it all down to recreate it. I know I can definitely do better in terms of design, and I've definitely
    managed that with some of my other proof-of-concept work like <a href="https://collegecompass.me">CollegeCompass</a> (if
    you will excuse a Slop-Powered&TRADE; project).
  </p>

  <p>
    Furthermore, I was not happy with the writing style and content within that Bloog. The content was composed almost
    entirely of ramblings and commentaries about various disinteresting topics. A lot of its pages used custom styles
    that just broke on mobile devices, including the inaugurating New Years' Resolution bloog poost. The code and layout
    was just a plain-old nightmare<sup class="text-slate-600">*</sup>, so I endeavoured to rebuild it from scratch.
  </p>
  <h6 class="text-slate-600">
    <sup>*</sup>Well, it wasn't really a nightmare. I'd say it's quite well-polished, even! But I have Shiny Object
    Syndrome, so I am cursed to <a href="https://github.com/mahmoud-moursy/shrimp1" class="underline">perpetually</a> recreate
    my works <a href="https://github.com/mahmoud-moursy/shrimp2" class="underline">over</a> and
    <a href="https://github.com/mahmoud-moursy/shrimp3" class="underline">over</a> again in a vicious cycle.
  </h6>

  <p>
    I think the source code and full archive of the Elder Bloog's posts is available on my
    <a href="https://github.com/mahmoud-moursy">GitHub</a>. If it's not, email me or something and I'll throw it up.
  </p>

  <p>
    Well, the circumstances also shaped this reboot. Due to
    <a class="fancy" href="https://www.facebook.com/modgovae">unprovoked Iranian aggression</a> on the UAE (my country of
    residence), the government has pursued online education and additonally slightly tweaked the national school schedule
    as a safety precaution. This has left me very-much-so stuck indoors. I had to take out my boredom on
    <em>something</em>, right?
  </p>

  <p>
    Despite the seemingly scary numbers being put out by Iran, daily life in the UAE basically continues as normal. It's
    still <em>safe</em> -- the vast, <em>vast</em> majority of attacks are intercepted before they can ever make direct contact
    with soil. It's actually quite impressive how effective the UAE military (and all other branches of UAE govt.) have been
    at dealing with the whole situation. Indeed, it's so well-handled that most people that I know (myself included) are really
    quite chill about the whole thing, because it's more likely that we'd be struck by lightning than an Iranian drone. I
    think people abroad have a very different picture of what's really happening on-the-ground because the numbers being reported
    sound scary on-paper, but in practice, there is barely any effect on civillian life.
  </p>

  <h3 class="fancy">What will I do next?</h3>

  <p>
    I dream of a Bloog with good technical writing about the tools, languages, and software that I love. However, this
    takes a lot of effort and it requires me to develop a skill that I do not yet have -- which is technical writing. I
    also want to write a few political pieces, tidbits about my life, and share more about my
    <a href="https://github.com/mahmoud-moursy/shrimp3">favorite projects of all time</a>!
  </p>

  <Fragment slot="footnotes">
    <details id="whats-rss">
      <summary class="font-bold">What the heck is an "RSS feed"!?</summary>
      <a href="#back-rss">Go back &looparrowleft;</a>

      <p>
        RSS feeds are akin to newsletters, except you don't have to hand out your email address and you can quickly and
        conveniently check up on your favorite authors' works. It's trivial to subscribe, unsubscribe, and keep up with
        your favorite bloggers. It sounds like a lame idea, but in practice it's become my favorite way to consume
        media.
      </p>
    </details>
  </Fragment>
</Blog>
