---
import Blog from "$layouts/blog.astro";
---

<Blog title="How AI Became a Poisoned Oasis" date-created="2026-03-13">
  <p>
    Hello again, world! I feel that, at this point, everyone in my age bracket is probably fed up with
    <strike>AI</strike> machine learning and
    <a href="https://www.cnbc.com/2025/11/20/why-ai-may-kill-career-advancement-for-many-young-workers.html">
      probably with good reason
    </a>. But I think the public perception of AI did not have to be this way. Indeed, if
    <em class="fancy">Mr. Altman and the Big Steppers</em> had not been so greedy and outright impatient, I believe they could
    have truly won the hearts of the public. This technology could've been an oasis harnessed to create community and bring
    about great benefit, yet the hunger for growth and power poisoned it. This piece is going to consist in large part of
    my own opinions and observations, and even moreso of my disappointment in what could've been.
  </p>
  <p>
    I want to make it clear that I certainly think that AI is worth <em>something</em>, but it's just not as valuable as
    everyone else makes it out to be. People tend to self-divide into two extreme camps of either declaring AI as the
    <em class="fancy">New Messiah</em> or decrying AI as a <em class="fancy">False Prophet</em>. I think the former camp
    is definitely much larger, but I think we'd definitely benefit by tempering expectations. If I had to say where I
    lie between the two extremes, I'm definitely much closer to the latter camp than I'd like to admit.
  </p>
  <p>
    After all, at the time of ChatGPT's public release, none of us were complaining about any of AI's shortcomings and
    failings, were we? We were impressed! There was excitement and hope and <em class="fancy">hype</em>! Yet... I feel
    that as time went on, people grew more and more disgruntled with AI. If you have seen me at work, you may know that
    I like to structure my work into <em class="fancy">Three Easy Pieces</em>. This article is no different -- I think
    there were three key misplays that sent the reputation of AI down the gutter.
  </p>
  <h3>Oversell, Underdeliver</h3>
  <p>
    While the corporate machine touts AI as an inevitability of reality, something we must come to accept, I've always
    held steadfast in my own (perhaps biased) belief that, at least under the current paradigm of large language models,
    artificial "intelligence" will never truly be intelligent. I reluctantly call it "AI" because that's what everyone
    else calls it -- but if it were up to me, I'd call it <em>at most</em> machine learning every single time. <a
      href="https://machinelearning.apple.com/research/illusion-of-thinking"
      class="fancy">Apple seems to agree</a
    >, calling these products merely an "illusion of thinking".
  </p>
  <p>
    I think OpenAI, Anthropic, Google et. al's marketing teams have been perpetually cornering their R&D teams
    <a href="https://techcrunch.com/2023/12/07/googles-best-gemini-demo-was-faked/">
      for <b class="fancy">years</b> now
    </a> by selling fake promises of advancements that do not exist and are impossible to attain. Every move made by an AI
    company to claim the superiority of their text guessing machine over the others is <em>almost always</em> underpinned
    by some "gotcha" moment where inevitably we discover that, in actuality, not that much advancement has been really made.
    Each new model just doesn't come with that same dramatic leap in performance anymore, and development teams are left scrambling
    in an attempt to catch up to expectations created by marketing experts instead of researchers.
  </p>
  <p>
    While one would expect that the greatest harm brought about by these lofty claims is the wastage of resources (which
    is a tragedy in and of itself), overselling and underdelivering has
    <a
      href="https://www.reuters.com/investigations/ai-enters-operating-room-reports-arise-botched-surgeries-misidentified-body-2026-02-09/">
      <b class="fancy">definitely</b> cost lives and limbs</a
    >. The tech world has imported its philosophy of "move fast and break things", amplified it ten-fold, and pushed it
    into settings where it definitely does not belong to woo legislator and investor alike. My anecdotal experience with
    AI hasn't shown me its promise yet. When attempting to embed AI into consumer-facing applications, I find it
    dissatisfactory. Maybe it's a result of stress-testing these models so much in
    <a href="https://collegecompass.me">my own projects</a>, but I find that these models often return stale data, make
    basic data entry mistakes, and have generally poor reading comprehension (I wouldn't even trust them as
    summarizers)! It doesn't seem to just be me either; corporate is catching on as AI in production has lead to
    <a href="https://www.theguardian.com/technology/2026/feb/20/amazon-cloud-outages-ai-tools-amazon-web-services-aws"
      >myriad service outages</a
    > for Amazon's AWS.
  </p>
  <h3>The Arms Race Hypothesis</h3>
  <p>
    Nonetheless, marketing departments continue to drum up propaganda and distraction pieces about the threat of
    "malicious AI superintelligence" and the importance of "alignment", and I think it's amazing that at this point none
    of the intended targets (that being legislators) have quite grasped the true intent of these campaigns. What they
    really intend to do is drum up a continuous fear of machine learning models and paint a picture of an "arms race"
    against China or America or Russia or whichever boogeyman seems most threatening at the time. In turn, this arms
    race story pressures legislators (by way of fear) into removing ever-more regulations and dumping ever-more
    resources into the infinite slop machine.
  </p>
  <p>
    Indeed, Sam Altman in a legal memo plays on this exact fear to go as far as
    <a
      href="https://techcrunch.com/2025/03/13/openai-calls-deepseek-state-controlled-calls-for-bans-on-prc-produced-models/">
      eliminating competing models
    </a> originating from China. Some senators have even drafted bills that try to make it <em>criminal</em> to run Chinese
    models on American soil. This fear is so <em class="fancy">deeply seeded</em> into the minds of the U.S. administration
    that both the Biden and Trump administrations have placed <a
      href="https://www.techpowerup.com/336414/nvidia-geforce-rtx-5090d-sales-to-china-will-be-fully-halted-in-q2">
      increasingly harsher
    </a> export restrictions on technology that can be used to train machine learning models to countries like China, Saudi
    Arabia, and the United Arab Emirates.
  </p>
  <p>
    Amongst all the reasons why we continue to over-invest in AI, I think government meddling (which is induced by
    precisely this fear) is the principal cause. After all, fear is a powerful motivator. The American government is so
    eager to intervene in the "free market" by dishing out privileged rulings,
    <a
      href="https://www.epi.org/policywatch/executive-order-to-challenge-or-deter-state-laws-that-would-impact-artificial-intelligence-ai/"
      class="fancy">interfering with individual states' rights</a
    >, <a href="https://tech.co/news/us-copyright-head-fired-ai-breaches-law"
      >punishing dissenting government branches like the U.S. Copyright Office</a
    >, and handing out direct AI grants and subsidies to the tune of several billion, and indirectly investing in
    AI-adjacent causes like chip manufacturing to the tune of potentially a hundred times that*.
    <br />
    <sub
      >*Well, one could argue that this was in response to fears over China attacking Taiwan, which is TSMC's
      headquarters.</sub
    >
  </p>
  <h3>It's Not Really Fair Use</h3>
  <p>
    Everyone likes to bicker about this point back and forth, but I think the honest truth is that AI is not really fair
    use. Because America was "ground-zero" for the AI bubble, most legislative discourse at least has been viewed from
    that angle.
  </p>
  <p>
    However, even when you look at it from the American perspective, I just don't think that case law rulings on AI so
    far have been consistent at all with the spirit of copyright law in general. As I said earlier, the USCO (U.S.
    Copyright Office) has been more-or-less bullied into silence by the Trump administration. I think there is no
    serious hope in the court of American law for there to be a fair ruling on AI training, or generative AI output.
  </p>
  <p>
    Why do I think that AI is <em>not, and never has been</em> fair use? I think it boils down to the USCO's own answer towards
    what constitutes fair use. Effectively, they look at four pillars/questions and use those to guide case rulings. In my
    personal opinion, AI fails to uphold these fair-use pillars for the most part. Let's look at the questions that the USCO
    may consider one-by-one:
    <ul class="ml-4 list-decimal">
      <li>
        Does it have a significant effect on the original author's ability to continue to market and sell their work?
        <br />
        <p class="font-bold text-slate-700">
          # If it does, it's <b class="text-yellow-900">less likely to be fair use.</b>
          <a href="https://www.nytimes.com/2025/12/05/technology/new-york-times-perplexity-ai-lawsuit.html"
            >Publications</a
          > and <a href="https://github.com/tailwindlabs/tailwindcss.com/pull/2388#issuecomment-3717222957"
            >software maintainers</a
          > alike have found difficulty in continuing to make a living off of their work, and a principal cause has been AI
          siphoning traffic away from their products.
        </p>
      </li>
      <li>
        What degree of creative expression is involved in the used copyrighted work?
        <br />
        <p class="font-bold text-slate-700">
          # Reusing a creative novel is <b class="text-yellow-900">less likely to be fair use</b> in comparison to an analytical
          or research piece. The most important thing is that the output is transformative, however the USCO's own report
          (prior to the decapitation of its head) stated that although is no one single answer for fair use regarding AI,
          creative uses were less likely to be fair use compared to analytical ones. This means that the current mode of usage
          for training material might potentially not have been transformative enough to claim fair use in some cases.
        </p>
      </li>
      <li>
        How much of the copyrighted work was used?
        <br />
        <p class="font-bold text-slate-700">
          # Using a very large amount of copyrighted work makes it <b class="text-yellow-900">less likely</b> that the work
          is fair use. We obviously know that AI training sets are incredibly large, and consist in large part of copyrighted
          materials -- in fact, copyrighted material especially is flagged as "higher quality" and has a larger bearing on
          training data compared to a typical Reddit thread. Megacorporations like <a
            href="https://www.vanityfair.com/news/story/meta-ai-lawsuit">Meta</a
          > obviously seem to have no trouble pirating a very, very large corpus of copyrighted literature indeed -- and they're
          getting away with it! If it were for any other purpose, like having other humans read the books instead of AI training,
          I'm sure the same usage would be definitely classed as illegal.
        </p>
      </li>
      <li>
        Is it being used for commercial purposes, especially in order to make a profit?
        <br />
        <p class="font-bold text-slate-700">
          # For-profit usages are <b class="text-yellow-900">less likely</b> to be considered fair use. Obviously OpenAI,
          Anthropic, and Google are all for-profits -- <em>although,</em> it doesn't seem like any of them are generating
          a profit from AI for now, it does still have implications for the ruling. <br /> One thing that I've seen reports
          overlook is that OpenAI is actually operationally profitable -- however, because they are stuck in the "arms race",
          they have to perpetually invest in R&D to stay competitive, and it sums up to generating a
          <a
            href="https://www.rdworldonline.com/facing-14b-losses-in-2026-openai-is-now-seeking-100b-in-funding-but-can-it-ever-turn-a-profit/"
            class="italic">gigantic and deepening defecit over time.</a
          >
        </p>
      </li>
    </ul>
  </p>
  <p>
    People really like to use the
    <span
      title="To me it's just Room... just a glimpse into how Chinese my life is becoming..."
      class="inline underline decoration-dashed">Chinese Room Thought Experiment</span
    > as an analogy for why AI isn't conscious, but I think we can also use it in the context of copyright. Sure, the raw
    model weights and embeddings alone do not, on the outside surface, appear to contain any copyrighted material themselves.
    However, claiming that just transforming copyrighted text into model weights is by itself transformative is a stretch
    in my opinion. If I can use a singular prompt in order to recover a copyrighted New York Times article verbatim, then
    it's easy to argue that there has been no transformative process. It's like claiming that by say, applying a password
    to encrypt copyrighted material and then illegaly sharing it over the internet that suddenly, sharing this copyrighted
    work is legal. It is not. I believe the same should hold true for model weights.
  </p>
  <h3>Concluding Words</h3>
  <p>
    On the whole, machine learning technology can be very awesome indeed. It can, when pushed in the right direction, do
    incredible things like fold proteins, detect breast cancers before they are even visible, and enable the disabled to
    navigate the world in ways they never could have before. The overhyped marketing I believe has partially contributed
    in investments in these technologies. But I still believe that Large Language Models (ChatGPT, Claude, Grok,
    Whatever) which continue to take up the majority of marketshare and mindshare of the machine learning field are at
    best suboptimal investments, and probably an actual absolute waste to invest in. I think that the people behind
    these LLMs are slimy and certainly lack good intentions. I think that their greed has poisoned the oasis.
  </p>
  <Fragment slot="footnotes">
    <details>
      <summary class="font-bold">My own biases</summary>
      <p>
        When ChatGPT was first released to the public, I tried to hand it a few programming tasks to see how it fared.
        In fact, I'd been trialling various machine-learning autocomplete technologies years before OpenAI released
        ChatGPT to the public. I was not impressed with TabNine, not impressed with ChatGPT, still not impressed now.
        Machine learning models are good at maybe web development due to the large corpus of training materials, but
        delve into literally anything else (chiefly systems and embedded programming), and it falls completely short.
        From what I can gather, my experience with AI in development is the exception rather than the norm. Developers
        that I respect and look up to, like the very talented Andreas Kling (maintainer of SerenityOS, lead maintainer
        of Ladybug Browser), claim that AI provides a marked quality-of-life improvement in his extremely challening
        development environment. Others however do oppose this viewpoint, most notably Linus Torvalds (lead maintainer
        of the Linux kernel) who also has an extremely challenging development environment. I just take this as more
        evidence that we are over-investing into AI -- if it truly were a new paradigm, then surely everyone would be on
        board.
      </p>
    </details>
  </Fragment>
</Blog>
