---
import Font from "astro/components/Font.astro";
import "$styles/global.css";

interface Props {
  title?: string;
  class?: string;
}

const { title, class: className }: Props = Astro.props;
---

<html lang="en">
  <head>
    <Font cssVariable="--ancizar-serif" preload />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <title>{title || "Moursy's Website"}</title>
  </head>
  <body
    class:list={[
      "tile-pattern flex min-h-screen w-full flex-col overflow-x-hidden bg-yellow-50 md:items-center md:justify-center md:py-8",
      className ?? "",
    ]}>
    <slot />
  </body>
</html>
